# Langflow API Keys
# Copy file ini ke .env dan isi nilai yang sesuai
# JANGAN commit file .env ke git

# Langflow Lokal (localhost:7862)
LANGFLOW_API_KEY_LOCAL=sk-xxxx

# Langflow Cloud Run
LANGFLOW_API_KEY_CLOUDRUN=sk-xxxx

# Langflow URL Cloud Run
LANGFLOW_URL=https://langflow-192433070716.asia-southeast2.run.app

# Flow ID
FLOW_ID=d8eedd75-92a7-47f0-974a-b74c0062ea23
